@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.5rem;
}

body:after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("bg.png");
  background-size: cover;
  width: 100%;
  z-index: -1;
}

.login {
  background-color: #6c5fa3;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0 10px 50px -30px black;
  width: 1000px;
  border-radius: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto;
}

.login a {
  text-decoration: none;
}

.login .column {
  padding: 4rem;
}

.login .column:last-child {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.login .column:last-child:after {
  content: "";
  position: absolute;
  background-color: #f1f1f1;
  inset: 0;
}

.login .column:last-child * {
  z-index: 1;
}

.login .column:last-child a {
  display: inline-block;
  padding: 12px 30px;
  font-size: 16px;
  border: 2px solid #5f74be;
  color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}

.login .column:last-child a:hover {
  background-color: #5f74be;
  color: white;
}

.login .column:last-child {
  text-align: center;
}

.login h1 {
  margin-bottom: 15px;
}

.login .form-element {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  padding: 20px 30px;
  border-radius: 50px;
  font-size: 18px;
  transition: box-shadow 0.2s;
}

.login .form-element:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5f74be;
}

.login input[type="checkbox"] {
  accent-color: #5f74be;
  width: 16px;
  height: 16px;
}

.login form {
  margin-top: 3rem;
}

.login form > * {
  margin-top: 1rem;
}

.login form button {
  background-color: #5f74be;
  color: white;
  border: none;
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.2s;
}

.login form button:active {
  scale: 0.95;
  background-color: #4459a6;
}

.login form .form-checkbox-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-buttons {
  display: flex;
  gap: 1rem;
}

.social-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 22px;
  color: white;
}

.social-buttons a.facebook {
  background-color: #3b5998;
}

.social-buttons a.twitter {
  background-color: #55acee;
}

.social-buttons a.google {
  background-color: #d5501f;
}

.social-buttons a:hover {
  scale: 0.95;
}

@media (max-width: 992px) {
  .login {
    display: block;
    width: 500px;
    text-align: center;
  }
  .login .column:last-child {
    display: none;
  }
  .flex {
    flex-direction: column;
    gap: 1rem;
  }
  .social-buttons {
    justify-content: center;
  }
}
